.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 35px;
  background-color: #fff;
  width: 40%;
  height: 460px;
  box-shadow: -10px 10px 10px 10px rgba(32, 30, 30, 0.3);
  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1180px) {
    width: 45%;
    padding: 30px;
  }
  @media (max-width: 840px) {
    width: 90%;
  }
  input,
  label,
  textarea {
    background-color: rgb(230, 227, 227);
    font-size: 16px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    @media (max-width: 1180px) {
      width: 96%;
      padding: 15px 0 15px 15px;
    }
  }
  textarea {
    height: 90px;
    font-size: 20px;
  }
}

.name {
  grid-area: 1 / 1 / 2 / 2;
  @media (max-width: 1180px) {
    width: 92%!important;
  }
}

.phone {
  grid-area: 1 / 2 / 2 / 3;
  @media (max-width: 1180px) {
    width: 92%!important;
  }
}

.email {
  grid-area: 2 / 1 / 3 / 3;
}

.description {
  grid-area: 3 / 1 / 4 / 3;
}

.btn {
  background-color: #ff9900;
  grid-area: 5 / 1 / 6 / 3;
  border-radius: 5px;
  font-size: 20px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
}

.customFileButton {
  grid-area: 4 / 1 / 5 / 3;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(230, 227, 227);
  &:hover {
    background-color: rgb(230, 227, 227);
  }
}
