.container {
  margin-top: 50px;
  width: 1400px;
  margin: 0 auto;
}

.promo {
  &__title {
    margin-top: 170px;
    position: absolute;
    top: 150px;
    color: white;
    width: 30%;
    font-weight: 300;
    font-size: 36px;
  }
  &__type {
    margin-top: 450px;
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 240px;
    height: 220px;
    img {
      border-radius: 10%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.05); // Легкое увеличение элемента
        transition: 0.4s;
      }
    }

  }

  &__text {
    font-size: 18px;
    height: 50px;
  }
}

.video {
  margin-top: 200px;
  width: 99vw;
  height: 410px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  left: 0;
}
