.container {
  width: 1400px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    gap: 10px;
    font-size: 24px;
  }
  &__contacts {
    display: flex;
    gap: 40px;
    font-size: 24px;
  }
  &__contacts_item {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  &__bot {
    margin-top: 30px;
  }

  &__nav {
    padding-left: 0;
    height: 60px;
    background-color: rgb(250, 182, 10);
    background-color: #ff9900;
    border: 2px solid #000;
    box-shadow: 10px 10px 10px 10px rgba(32, 30, 30, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    list-style: none;
    text-transform: uppercase;
    gap: 70px;
    font-size: 22px;
    font-weight: 600;
    li {
      position: relative;
      padding: 8px 22px;
      cursor: pointer;
      // background-color: rgb(250, 182, 10);
      // background-color: #ff9900;
      // border: 2px solid #000;
      // box-shadow: 10px 10px 10px 10px rgba(32, 30, 30, 0.3);
      // border-radius: 50px;
    }
    // li:after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   right: -20%;
    //   transform: translate(-50%, -50%);
    //   width: 4px;
    //   height: 30px;
    //   background-color: #000;
    //   transition: all 0.4;
    // }
    // li:last-child:after {
    //   display: none;
    // }
    li:hover {
      transform: scale(1.1);
      transition: all 0.4;
    }
  }
}
